.roboto {
  font-family: "Roboto", sans-serif;
}
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
}
.banner{
  background: linear-gradient(
  90deg,
  rgba(1, 50, 35, 1),
  rgba(0, 103, 71, 1) 50%,
  rgba(1, 50, 35, 1) 100%
);
}
.historyList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  padding: 10px;
  margin-top: 8px;
  border-radius: 10px;
  list-style: none;
}
#history{
  list-style: none;
}
.historyTitle{
  font-weight: 700;
}
